.container {
  margin: 5%;
}

.full-width {
  width: 100%;
}

mat-card {
  border-radius: 2em;
  background-color: #eaeaea;
  padding: 4%;
}

.mat-card-header .mat-card-title {
  color: #00beee;
  font-size: xx-large;
  font-weight: 500;
}
