.container {
  margin: 10%;
}

mat-card {
  border-radius: 2em;
  background-color: #eaeaea;
  padding: 4%;
}
.mat-card-header .mat-card-title {
  color: #00beee;
  font-size: xx-large;
  font-weight: 500;
}

.redirect {
  color: #4a93ff;
  font-weight: 500;
}
