<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="center center"  style="margin-bottom: 8%;">
        <mat-card-title >Login</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="form">

        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Enter Email</mat-label>
            <input matInput placeholder="email" formControlName="email" #email required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" #password required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>

        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button (click)="Login(email.value, password.value)" style="width: 30%; font-size: large; color: white; background-color: rgb(18, 1, 56);">Login</button>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="start senter" class="redirectToLogin">
        <span>Don't have an account ?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
    </mat-card>
  </div>

</div>
